// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #d1cbc8;
$bg-gray: #f3f1f0;
$text-gray: #b2b2b4;
$black: #333;
$white: #fff;
$blue: #003162;

$base-font-sans-serif: 'Sorts Mill Goudy', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$agaramond: 'agaramond', sans-serif;
$open-sans: 'Open Sans', sans-serif;


// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 18.75px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $blue !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 66px !default;
$h2-font-size: 36px !default;
$h3-font-size: 30px !default;
$h4-font-size: 28px !default;
$h5-font-size: 26px !default;
$h6-font-size: 24px !default;

$headings-font-family: inherit !default;
$headings-color: $blue !default;


$animation-speed: 0.2s;
